doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Con Pug
    body 
        h2 Agregar producto
        form(action='./productos' method='post')
            input(type='text' name='nombre' placeholder='nombre...')
            input(type='number' name='precio' placeholder='precio...')
            input(type='text' name='img' placeholder='url imagen...')
            input(type='submit')
        a(href='./productos') Ver los productos