<%- include('./partials/head')  %> 

<h2>Agregar producto</h2>
<form action="./productos" method="post">
    <input type="text" name="nombre"  placeholder="nombre...">
    <input type="number" name="precio" placeholder="precio...">
    <input type="text" name="img" placeholder="url imagen...">
    <input type="submit">
</form>
<a href="./productos">Ver los productos</a>